@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200;400&family=Poppins:wght@100&family=Roboto:wght@100;300;400&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
.show {
	/* display: block; */
	background-color: #1f154a;
	transition: background-color 1s ease-in-out;
}

.hide {
	opacity: 0.5;
	transition: opacity 1s ease-in-out;
	/* display: none; */
}

.home {
	position: relative;
	height: 100vh;
	background: linear-gradient(
			0deg,
			rgba(31, 21, 74, 0.3),
			rgba(31, 21, 74, 0.3)
		),
		linear-gradient(
			80.29deg,
			rgba(31, 21, 74, 0) 45.12%,
			rgba(31, 21, 74, 0.75) 45.12%
		),
		url(../images/hero.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

/* Homepage Start */
.home .text {
	position: absolute;
	top: 25%;
	right: 16%;
	text-align: center;
	color: #fff;
}

.heading {
	margin: 20px 0;
	font-size: 60px;
	font-weight: 900;
	line-height: 94px;
}

.home .text p {
	margin: 20px 0;
	font-size: 24px;
}

.home .text button {
	margin: 25px 0;
	padding: 15px 35px;
	border-radius: 0px;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;
}

.home .text button i {
	padding-left: 15px;
}
/* Homepage End */

/* User-Detail Start */
.user-detail {
	position: relative;
	height: 100vh;
}
.user-detail .text {
	position: absolute;
	color: #fff;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.user-detail form {
	margin: 40px 0;
	padding: 5px;
	background-color: #0e263d;
}

input {
	color: #fff;
	background-color: transparent;
	border: none;
	height: 50px;
	font-size: 18px;
	outline: none;
}

input:focus {
	background-color: transparent;
	outline: none;
}
.user-detail form .user-btn {
	background-color: transparent;
	border: none;
	padding-left: 10px;
	font-size: 24px;
	color: #45eba5;
	cursor: pointer;
}

.user-detail form i:hover {
	text-shadow: 10px 0 20px #fff;
}
/* User-Detail End */
