@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200;400&family=Poppins:wght@100&family=Roboto:wght@100;300;400&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
.show {
	height: 100vh;
	opacity: 1;
	visibility: visible;
	transition: opacity 1s ease-in-out;
}

h2 {
	color: #45eba5;
}
.hide {
	height: 0;
	overflow: hidden;
	opacity: 0.6;
	visibility: hidden;
	transition: opacity 1s ease-in-out;
}

.active {
	display: block;
}

.inactive {
	display: none;
}

.home {
	position: relative;
	background-image: linear-gradient(
			to left,
			rgba(20, 12, 56, 0.8),
			rgba(25, 15, 70, 0.3)
		),
		url(../images/hero.jpg);
	clip-path: polygon(0 0, 100% 0, 100% 90vh, 50% 100vh, 0 90vh);
	background-size: cover;
	background-color: #163a5f;
	background-position: center center;
	background-repeat: no-repeat;
}

/* Homepage Start */
.home .text {
	position: absolute;
	background-color: rgba(20, 12, 56, 0.2);
	border-radius: 4px;
	padding: 50px;
	top: 18%;
	right: 16%;
	text-align: center;
	color: #fff;
}

.heading {
	margin: 20px 0;
	font-size: 60px;
	font-weight: 900;
	line-height: 94px;
}

.home .text p {
	margin: 20px 0;
	font-size: 24px;
}

button {
	margin: 30px 0;
	font-size: 18px;
	padding: 15px 35px;
	border-radius: 0px;
	background-color: transparent;
	/* border: 1px solid #45eba5; */
	color: #fff;
	cursor: pointer;
	/* text-shadow: 1px 1px 10px #1d566e; */
	box-shadow: 0 0 5px #45eba5;
}

button i {
	padding-left: 15px;
}
/* Homepage End */

/* User-Detail Start */
.container {
	position: relative;
	background-color: #1f154a;
}
.container .text {
	position: absolute;
	color: #fff;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.user-detail form {
	margin: 40px 0;
	padding: 5px;
	background-color: #0e263d;
	box-shadow: 0 0 5px #45eba5;
}

input {
	color: #fff;
	background-color: transparent;
	border: none;
	height: 50px;
	font-size: 18px;
	outline: none;
}

input:focus {
	background-color: transparent;
	outline: none;
}
.user-detail form .user-btn {
	background-color: transparent;
	border: none;
	font-size: 24px;
	color: #45eba5;
	padding: 0;
	box-shadow: none;
	cursor: pointer;
	margin: 0;
}

.user-detail form i:hover {
	text-shadow: 10px 0 20px #fff;
}
/* User-Detail End */

/* Initiate Questions Start */
.start {
	background-color: #163a5f;
}

.start button {
	margin: 20px 30px;
}
/* Initiate Questions End */

/* Questions Start */
.questions {
	background-color: #1f154a;
}

.question_set {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 60px 100px;
	background-color: #1f154a;
	border-radius: 10px;
	box-shadow: 1px 0 5px 1px #45eba5;
	color: #fff;
	width: 50%;
	height: 60%;
}

.question {
	font-size: 25px;
}

.timer,
.score {
	position: absolute;
	color: #45eba5;
	text-shadow: 1px 0 8px #aa8f8f;
	border: 1px solid #645b8d;
}

.timer {
	right: 3%;
	top: 5%;
	padding: 10px;
}

.score {
	padding: 10px 20px 10px;
	left: 3%;
	top: 5%;
}

#prev {
	position: absolute;
	bottom: 25%;
	left: 40%;
}

#next {
	position: absolute;
	right: 40%;
	bottom: 25%;
}

#submit {
	position: absolute;
	left: 45.8%;
	bottom: 5%;
}

.user {
	position: absolute;
	left: 50%;
	top: 5%;
	color: #45eba5;
	transform: translate(-50%, -50%);
}
/* Questions End */

/* Input styling */
.answer {
	position: relative;
	display: block;
	padding-left: 35px;
	margin-top: 40px;
	cursor: pointer;
}
.answer input {
	position: absolute;
	height: 0;
	width: 0;
}

.checkbox {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #21aba5;
	width: 20px;
	height: 20px;
}

.checkbox:after {
	content: "";
	position: absolute;
	display: none;
}

.answer input:checked ~ .checkbox:after {
	display: block;
}

.answer .checkbox:after {
	left: 6px;
	top: 2px;
	height: 10px;
	width: 5px;
	border: solid #1f154a;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

.radio {
	border-radius: 50%;
}

.answer .radio:after {
	width: 11px;
	height: 11px;
	border: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #1f154a;
	border-radius: 50%;
}
/* Input styling End */
