@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200;400&family=Poppins:wght@100&family=Roboto:wght@100;300;400&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
.show {
	/* display: block; */
	height: 100vh;
	opacity: 1;
	visibility: visible;
	transition: opacity 1.5s ease-in-out;
}

.hide {
	height: 0;
	overflow: hidden;
	opacity: 0.6;
	visibility: hidden;
	transition: opacity 1.5s ease-in-out;
	/* display: none; */
}

#active {
	display: block;
}

#inactive {
	display: none;
}

.home {
	position: relative;
	/* height: 100vh; */
	background: linear-gradient(
			0deg,
			rgba(31, 21, 74, 0.3),
			rgba(31, 21, 74, 0.3)
		),
		linear-gradient(
			80.29deg,
			rgba(31, 21, 74, 0) 45.12%,
			rgba(31, 21, 74, 0.75) 45.12%
		),
		url(../images/hero.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

/* Homepage Start */
.home .text {
	position: absolute;
	top: 25%;
	right: 16%;
	text-align: center;
	color: #fff;
}

.heading {
	margin: 20px 0;
	font-size: 60px;
	font-weight: 900;
	line-height: 94px;
}

.home .text p {
	margin: 20px 0;
	font-size: 24px;
}

button {
	margin: 30px 0;
	font-size: 18px;
	padding: 15px 35px;
	border-radius: 0px;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;
}

button i {
	padding-left: 15px;
}
/* Homepage End */

/* User-Detail Start */
.container {
	position: relative;
	background-color: #1f154a;
}
.container .text {
	position: absolute;
	color: #fff;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.user-detail form {
	margin: 40px 0;
	padding: 5px;
	background-color: #0e263d;
}

input {
	color: #fff;
	background-color: transparent;
	border: none;
	height: 50px;
	font-size: 18px;
	outline: none;
}

input:focus {
	background-color: transparent;
	outline: none;
}
.user-detail form .user-btn {
	background-color: transparent;
	border: none;
	font-size: 22px;
	color: #45eba5;
	cursor: pointer;
	margin: 0;
}

.user-detail form i:hover {
	text-shadow: 10px 0 20px #fff;
}
/* User-Detail End */

/* Initiate Questions Start */
.start {
	background-color: #163a5f;
}

.start button {
	margin: 20px 30px;
}
/* Initiate Questions End */

/* Questions Start */
.questions {
	background-color: #1f154a;
}

.question_set {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
	background-color: #1f154a;
	border-radius: 10px;
	box-shadow: 1px 0 10px #645b8d;
	color: #fff;
	width: 50%;
	height: 50%;
}

.question {
	font-size: 25px;
}

.timer {
	position: absolute;
	right: 3%;
	top: 5%;
	color: #fff;
    text-shadow: 1px 0 10px #645b8d;
	border: 1px solid #645b8d;
    padding:10px;
}

#prev {
	position: absolute;
	bottom: 10%;
	left: 5%;
}

#next {
	position: absolute;
	right: 5%;
	bottom: 10%;
}
#next i {
	padding: 0 0 0 15px;
}

#prev i {
	padding: 0 15px 0 0;
}
/* Questions End */
